.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #ffffff;
  height: 80vh;
}

.hero-content {
  width: 50%;
  height: 80vh;
  padding: 20px;
  background-image: url('../resources/line.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  /*color: #333;8*/
}

.hero-img {
  width: 60%;
  height: 80vh;
  display: block;
  margin-left: auto;
  z-index: 1;
}

.btn {
  background-color: #f4b400;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}


.shape {
  position: absolute;
  opacity: 0.5;
  z-index: 0;
}

/* Square */
.square {
  width: 80px;
  height: 80px;
  background: #f4b400;
  top: 10%;
  left: 5%;
  animation: floatSquare 6s infinite ease-in-out;
}

/* Circle */
.circle {
  width: 100px;
  height: 100px;
  background: #4285f4;
  border-radius: 50%;
  top: 70%;
  left: 15%;
  animation: floatCircle 8s infinite linear;
}

/* Rectangle */
.rectangle {
  width: 200px;
  height: 120px;
  background: #34a853;
  bottom: 30%;
  right: 40%;
  animation: floatRectangle 7s infinite ease-in-out;
}

/* ================= Animations ================= */
@keyframes floatSquare {
  0%, 100% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-30px) rotate(20deg); }
}

@keyframes floatCircle {
  0% { transform: translateX(0); }
  50% { transform: translateX(50px); }
  100% { transform: translateX(0); }
}

@keyframes floatRectangle {
  0% { transform: translateY(20) rotate(100deg); }
  50% { transform: translateY(40px) rotate(180deg); }
  100% { transform: translateY(10) rotate(60deg); }
}